/* specify what body part is moving then call the keyframes*/
.movingHead {
  animation: moveHead 3s infinite;
}

/*keyframes identify what movement is happening*/
@keyframes moveHead {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.movingEarsLeft {
  animation: moveEarsLeft 1s infinite;
}

@keyframes moveEarsLeft {
  50% {
    transform: scale(-1, 1) rotate(185deg);
  }
}

.movingEarsRight {
  animation: moveEarsRight 2s infinite;
}

@keyframes moveEarsRight {
  50% {
    transform: rotate(185deg);
  }
}

.sleepingKitty {
  animation: sleepyCat 5s infinite;
}

@keyframes sleepyCat {
  10% {
    border-top: 10px solid;
  }
  30% {
    border-top: 15px solid;
  }
  50% {
    border-top: 5px solid;
  }
  65% {
    border-top: 15px solid;
  }
  75% {
    border-top: 18px solid;
  }
  90% {
    border-top: none;
  }
}

.movingFrontPaw {
  animation: moveRightPaw 1s infinite;
}

@keyframes moveRightPaw {
  25% {
    transform: translateX(360%) translateY(150%) rotate(10deg);
  }
  75% {
    transform: translateX(360%) translateY(150%) rotate(-10deg);
  }
}

.movingEyes {
  animation: moveEye 3s infinite;
}

@keyframes moveEye {
  25% {
    border-left: 15px solid;
  }
  50% {
    border: none;
  }
  75% {
    border-right: 15px solid;
  }
}
