/* specify what body part is moving then call the keyframes*/
.movingHead {
  animation: moveHead 3s infinite;
}

/*keyframes identify what movement is happening*/
@keyframes moveHead {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.movingEarsLeft {
  animation: moveEarsLeft 1s;
}

@keyframes moveEarsLeft {
  50% {
    transform: scale(-1, 1) rotate(185deg);
  }
}

.movingEarsRight {
  animation: moveEarsRight 2s;
}

@keyframes moveEarsRight {
  50% {
    transform: rotate(185deg);
  }
}

.movingRightEye {
  animation: moveEyes 5s infinite;
}

@keyframes moveRightEye {
  0% {
    border: none;
  }
  25% {
    border-left: 15px solid;
  }
  50% {
    border: none;
  }
  75% {
    border-right: 15px solid;
  }
  100% {
    border: none;
  }
}
