*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: #607d8b;
}

h1 {
  font-size: 55px;
  font-weight: bolder;
}

h3 {
  font-size: 35px;
}

.cat {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  background-color: #a565f7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  display: flex;
  z-index: 4;
  top: -20px;
}

.eye {
  background-color: #e465f7;
  width: 60px;
  height: 55px;
  position: absolute;
  top: 35px;
  margin: 25px;
}

#left-eye {
  border-radius: 20% 55% 20% 55%;
  transform: translate(-10%, -10%);
}

#right-eye {
  border-radius: 55% 20% 55% 20%;
  transform: translate(160%, -10%);
}

.pupils {
  background-color: #3c373d;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  postion: absolute;
  transform: translateX(10%) translateY(12%);
}

.reflection {
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transform: translateX(25%) translateY(25%);
}

.ears {
  position: relative;
}
.left-ear,
.right-ear {
  position: absolute;
  top: -125px;
  width: 140px;
  height: 165px;
  border: 10px solid transparent;
  border-radius: 90% 0 90% 0;
  background: #400091;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-ear {
  transform: scale(-1, 1) rotate(160deg);
  left: -20px;
}

.right-ear {
  transform: rotate(160deg);
  left: 79px;
}
.inner-ear-left,
.inner-ear-right {
  width: 105px;
  height: 95px;
  border-radius: 90% 0 90% 0;
  background: #a78dc7;
  transform: translate(5%, 10%);
}

.cat__mouth-contour {
  position: absolute;
  top: 100px;
  left: 37px;
  background: #fad1ff;
  opacity: 0.4;
  width: 130px;
  height: 75px;
  -webkit-border-radius: 55% 55% 60% 60%;
  border-radius: 55% 55% 60% 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat__mouth-left,
.cat__mouth-right {
  position: absolute;
  top: 120px;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #000000;
  border-right: 3px solid rgba(255, 255, 255, 0);
  border-top: 3px solid rgba(255, 255, 255, 0);
  transform: translate(-20%, 50%) rotate(-45deg);
  z-index: 100;
}
.cat__mouth-left {
  left: 88px;
}
.cat__mouth-right {
  left: 108px;
}

.nose {
  position: absolute;
  top: 115px;
  left: 90px;
  width: 0;
  height: 0;
  border-right: 15px solid rgba(255, 255, 255, 0);
  border-left: 15px solid rgba(255, 255, 255, 0);
  border-top: 14px solid #000000;
  border-radius: 40%;
  transform: translate(-1%, 105%);
  z-index: 100;
}

.cat_body {
  height: 170px;
  width: 175px;
  background-color: #432866;
  border-radius: 50% 50% 25% 25%;
  transform: translateX(5%) translateY(20%);
  position: absolute;
  z-index: 1;
}

.paws {
  position: absolute;
  z-index: 3;
}

.paws-front-left {
  height: 60px;
  width: 30px;
  transform: translateX(200%) translateY(250%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-front-right {
  height: 60px;
  width: 30px;
  transform: translateX(360%) translateY(150%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-right {
  height: 30px;
  width: 30px;
  transform: translateX(503%) translateY(100%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-left {
  height: 30px;
  width: 30px;
  transform: translateX(45%) translateY(200%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.whiskers {
  position: absolute;
  z-index: 100;
}

.whisker-l1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(2300%) rotate(15deg);
}

.whisker-l2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-43%) translateY(2650%) rotate(0deg);
}

.whisker-l3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(3000%) rotate(-15deg);
}

.whisker-r1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2000%) rotate(-15deg);
}

.whisker-r2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(123%) translateY(2350%) rotate(0deg);
}

.whisker-r3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2700%) rotate(15deg);
}

.belly {
  width: 90px;
  height: 60px;
  background-color: #fad1ff;
  opacity: 0.75;
  border-radius: 50%;
  position: absolute;
  transform: translateX(60%) translateY(180%);
  z-index: 2;
}

.cat__head-dots {
  position: absolute;
  left: 94px;
  height: 48px;
  top: 0px;
  width: 14px;
  background: #ffb74d;
  -webkit-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
}

.cat__head-dots_first {
  position: absolute;
  content: "";
  top: 1.5px;
  width: 14px;
  height: 35px;
  background: #ffb74d;
  left: -20px;
  border-radius: 50% 0 50% 50%;
}
.cat__head-dots_second {
  position: absolute;
  content: "";
  top: 1.5px;
  width: 14px;
  height: 35px;
  background: #ffb74d;
  left: 20px;
  border-radius: 0 50% 50% 50%;
}
