*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: #607d8b;
}

h1 {
  font-size: 55px;
  font-weight: bolder;
}

h3 {
  font-size: 35px;
}

.cat {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  margin-right: 10%;
  margin-bottom: 20%;
}

.head {
  background-color: #a565f7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  display: flex;
  z-index: 4;
  top: -20px;
}

.cat__eye {
  position: absolute;
  top: 35px;
  left: -15px;
  display: flex;
}

.cat__eye span {
  position: absolute;
  top: 41px;
  width: 42px;
  height: 42px;
  background: #373737;
  border-radius: 50%;
  z-index: 200;
}

.cat__eye--left,
.cat__eye--right {
  width: 49px;
  height: 49px;
  background: #fff;
  border-radius: 50%;
  margin: 38px;
  z-index: 100;
}

.cat__eye--right {
  transform: translateX(-20%);
}

.pupil-right {
  transform: translate(-387%, -90%);
}
.cat__eye span::after {
  content: "";
  top: 8px;
  left: 8px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.cat__eye span::before {
  content: "";
  top: 20px;
  left: 8px;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.cat__eye span.pupil-left {
  left: 42px;
}
.cat__eye span.pupil-right {
  left: 166px;
}

.ears {
  position: relative;
}
.left-ear,
.right-ear {
  position: absolute;
  top: -125px;
  width: 140px;
  height: 165px;
  border: 10px solid transparent;
  border-radius: 90% 0 90% 0;
  background: #400091;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-ear {
  transform: scale(-1, 1) rotate(160deg);
  left: -20px;
}

.right-ear {
  transform: rotate(160deg);
  left: 79px;
}
.inner-ear-left,
.inner-ear-right {
  width: 105px;
  height: 95px;
  border-radius: 90% 0 90% 0;
  background: #a78dc7;
  transform: translate(5%, 10%);
}

.cat__mouth-contour {
  position: absolute;
  top: 100px;
  left: 37px;
  background: #fad1ff;
  opacity: 0.4;
  width: 130px;
  height: 75px;
  -webkit-border-radius: 55% 55% 60% 60%;
  border-radius: 55% 55% 60% 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat__mouth-left,
.cat__mouth-right {
  position: absolute;
  top: 120px;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #000000;
  border-right: 3px solid rgba(255, 255, 255, 0);
  border-top: 3px solid rgba(255, 255, 255, 0);
  transform: translate(-20%, 50%) rotate(-45deg);
  z-index: 100;
}
.cat__mouth-left {
  left: 88px;
}
.cat__mouth-right {
  left: 108px;
}

.nose {
  position: absolute;
  top: 115px;
  left: 90px;
  width: 0;
  height: 0;
  border-right: 15px solid rgba(255, 255, 255, 0);
  border-left: 15px solid rgba(255, 255, 255, 0);
  border-top: 14px solid #000000;
  border-radius: 40%;
  transform: translate(-1%, 105%);
  z-index: 100;
}

.cat_body {
  height: 170px;
  width: 175px;
  background-color: #432866;
  border-radius: 50% 50% 25% 25%;
  transform: translateX(5%) translateY(20%);
  position: absolute;
  z-index: 1;
}

.paws {
  position: absolute;
  z-index: 3;
}

.paws-front-left {
  height: 60px;
  width: 30px;
  transform: translateX(200%) translateY(250%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-front-right {
  height: 60px;
  width: 30px;
  transform: translateX(360%) translateY(150%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-right {
  height: 30px;
  width: 30px;
  transform: translateX(503%) translateY(100%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-left {
  height: 30px;
  width: 30px;
  transform: translateX(45%) translateY(200%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.whiskers {
  position: absolute;
  z-index: 100;
}

.whisker-l1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(2300%) rotate(15deg);
}

.whisker-l2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-43%) translateY(2650%) rotate(0deg);
}

.whisker-l3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(3000%) rotate(-15deg);
}

.whisker-r1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2000%) rotate(-15deg);
}

.whisker-r2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(123%) translateY(2350%) rotate(0deg);
}

.whisker-r3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2700%) rotate(15deg);
}

.belly {
  width: 90px;
  height: 60px;
  background-color: #fad1ff;
  opacity: 0.75;
  border-radius: 50%;
  position: absolute;
  transform: translateX(60%) translateY(180%);
  z-index: 2;
}

.cat__head-dots {
  position: absolute;
  left: 94px;
  height: 48px;
  top: 0px;
  width: 14px;
  background: #ffb74d;
  -webkit-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
}

.cat__head-dots_first {
  position: absolute;
  content: "";
  top: 1.5px;
  width: 14px;
  height: 35px;
  background: #ffb74d;
  left: -20px;
  border-radius: 50% 0 50% 50%;
}
.cat__head-dots_second {
  position: absolute;
  content: "";
  top: 1.5px;
  width: 14px;
  height: 35px;
  background: #ffb74d;
  left: 20px;
  border-radius: 0 50% 50% 50%;
}

.img-fluid {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.homebox {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.55;
  padding-top: 45px;
  padding-bottom: 65px;
  transform: translateY(-35%);
}

#makeKittyBtn {
  position: absolute;
  transform: translate(-50%, -300%);
  cursor: pointer;
}

.home-top {
  background: linear-gradient(#FF7300, #FFD500);
  border-radius: 0 0 60% 60% / 0 0 20% 20%;
  margin-bottom: 30px;
}

iframe {
  margin-top: 10px;
  border-radius: 5%;
  border-color: yellowgreen;
}

.home-bottom {
  margin-bottom: 80px;
  margin-top: 50px;
}

.navbar {
  cursor: pointer;
}

.button, .form {
  cursor: pointer;
}

.marketplace-top {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(#FF7300, #fbff00);
}

.marketplace-bottom {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-top {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(#fbff00, #48ff00);
}

.catalog-bottom {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-deck {
  margin-top: 5px;
  margin-bottom: 80px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 80px;
}

.catDisplay {
  background: white;
  border-radius: 10px;
  display: flex;
}

#breedBtn {
  position: absolute;
  transform: translateX(-950%);
}

.breedBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

#privacyBreedBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

#momDiv {
  cursor: pointer;
}

#dadDiv {
  cursor: pointer;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100wv;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .active .overlay {
  display: block;
}

.popup .active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}