.cat {
  with: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body {
  background-color: #03f4ef;
  width: 200px;
  height: 220px;
  border-radius: 50% 50% 20% 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head {
  background-color: #a565f7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  display: flex;
}

.eye {
  background-color: #e465f7;
  width: 60px;
  height: 55px;
  position: relative;
  top: 35px;
  margin: 25px;
}

#left-eye {
  border-radius: 20% 55% 20% 55%;
}

#right-eye {
  border-radius: 55% 20% 55% 20%;
}

.pupils {
  background-color: #3c373d;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  postion: absolute;
  transform: translateX(3%) translateY(12%);
}

.reflection {
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transform: translateX(23%) translateY(20%);
}

.right-ear {
  position: relative;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 50px solid #7000ff;
  border-bottom: 50px solid transparent;
  border-radius: 20px 10px 70px 10px;
  transform: translateX(123%) translateY(-155%) rotate(3deg);
}

.left-ear {
  position: relative;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 50px solid #7000ff;
  border-bottom: 50px solid transparent;
  border-radius: 10px 10px 10px 10px;
  transform: translateX(378%) translateY(-55%) rotate(-3deg);
}

.mouth {
  position: absolute;
  top: 63%;
  left: 49%;
  right: 10%;
  font-size: 35px;
  transform: translate(-85%, -15%) rotate(180deg);
  color: #400091;
  font-family: sans-serif;
}

.inner-ear-right {
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 25px solid #a78dc7;
  border-bottom: 25px solid transparent;
  border-radius: 10px 10px 10px 10px;
  transform: translateX(-160%) translateY(-22%) rotate(175deg);
}

.inner-ear-left {
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 25px solid #a78dc7;
  border-bottom: 25px solid transparent;
  transform: translateX(45%) translateY(-20%) rotate(183deg);
}

.nose {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 21px solid #4700a1;
  position: absolute;
  top: 55%;
  left: 41%;
  border-radius: 35%;
}

.cat_body {
  height: 170px;
  width: 175px;
  background-color: #432866;
  border-radius: 50% 50% 30% 30%;
  transform: translateX(5%) translateY(90%);
  position: absolute;
}

.paws {
  position: absolute;
}

.paws-front-left {
  height: 60px;
  width: 30px;
  background-color: #a565f7;
  transform: translateX(220%) translateY(450%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-front-right {
  height: 60px;
  width: 30px;
  background-color: #a565f7;
  transform: translateX(370%) translateY(350%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-right {
  height: 30px;
  width: 30px;
  background-color: #a565f7;
  transform: translateX(520%) translateY(470%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.paws-back-left {
  height: 30px;
  width: 30px;
  background-color: #a565f7;
  transform: translateX(55%) translateY(570%);
  background-color: #a565f7;
  border-radius: 10% 10% 35% 35%;
}

.whiskers {
  position: absolute;
}

.whisker-l1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(2300%) rotate(15deg);
}

.whisker-l2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-43%) translateY(2650%) rotate(0deg);
}

.whisker-l3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(-40%) translateY(3000%) rotate(-15deg);
}

.whisker-r1 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2000%) rotate(-15deg);
}

.whisker-r2 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(123%) translateY(2350%) rotate(0deg);
}

.whisker-r3 {
  width: 110px;
  height: 5px;
  background-color: black;
  transform: translateX(120%) translateY(2700%) rotate(15deg);
}

.belly {
  width: 90px;
  height: 60px;
  background-color: #fad1ff;
  opacity: 0.75;
  border-radius: 50%;
  position: absolute;
  transform: translateX(60%) translateY(380%);
}

.mask {
  width: 130px;
  height: 75px;
  background-color: #fad1ff;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  transform: translateX(27%) translateY(130%);
}
